cloud_id         = "cloud_id"
folder_id        = "folder_id"
zone             = "zone"
image_id         = "image_id"
subnet_id        = "subnet_id"
public_key_path  = "public_key_path"
private_key_path = "private_key_path"
DATABASE_URL     = "reddit-db.ru-central1.internal"
